<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="fc8d3d00-ed5d-45cf-b034-febc40b2e1cb" name="https://maps.googleapis.com Test Suite" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="fc8d3d00-ed5d-45cf-b034-febc40b2e1cbfileName">https%3A%2F%2Fmaps.googleapis.com-Test-Suite</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
