<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="a0154f1f-99a5-451e-a9e6-e50abf0cb270" name="https://maps.googleapis.com Test Suite" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="a0154f1f-99a5-451e-a9e6-e50abf0cb270fileName">https%3A%2F%2Fmaps.googleapis.com-Test-Suite</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
