<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="47b1d6b4-9d2a-480c-b6d9-31d5892c18cf" wadlVersion="http://wadl.dev.java.net/2009/02" name="https://maps.googleapis.com" type="rest" xmlns:con="http://eviware.com/soapui/config" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <con:settings>
    <con:setting id="47b1d6b4-9d2a-480c-b6d9-31d5892c18cffileName">https%3A%2F%2Fmaps.googleapis.com</con:setting>
  </con:settings>
  <con:definitionCache type="TEXT" rootPart=""/>
  <con:endpoints>
    <con:endpoint>https://maps.googleapis.com</con:endpoint>
  </con:endpoints>
  <con:environmentSpec>
    <con:entry environmentId="80e94653-990e-4efe-9a83-0b04ba6389b6">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
    <con:entry environmentId="0881db69-d603-41e8-adc4-55cccb033d4c">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
  </con:environmentSpec>
</con:interface>
