<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="1a601dc6-29d4-410e-870b-bd9b1710eacd" wadlVersion="http://wadl.dev.java.net/2009/02" name="https://maps.googleapis.com" type="rest" xmlns:con="http://eviware.com/soapui/config" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <con:settings>
    <con:setting id="1a601dc6-29d4-410e-870b-bd9b1710eacdfileName">https%3A%2F%2Fmaps.googleapis.com</con:setting>
  </con:settings>
  <con:definitionCache type="TEXT" rootPart=""/>
  <con:endpoints>
    <con:endpoint>http://localhost:8088/</con:endpoint>
    <con:endpoint>https://maps.googleapis.com</con:endpoint>
  </con:endpoints>
  <con:environmentSpec>
    <con:entry environmentId="b81fdd13-10b0-4751-a586-c8ea625589d8">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
  </con:environmentSpec>
</con:interface>
